* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto;
}
img {
    width: 100%;
}

.img2 {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

.row {
    text-align: center;
    margin: 40px 0;
}

.product {
    position: relative;
    padding: 5px;
    width: 32%;
    display: inline-block;
}

.img-container {
    position: relative;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 20px;
    padding: 5px 10px;
    background-color: white;
}

.discount { 
    position: absolute;
    display: inline-block;
    font-size: 14px;
    bottom: 35px;
    color: white;
    background-color: red;
    left: 0;
    padding: 1px 3px;

}

.sustenibility {
    position: absolute;
    display: inline-block;
    font-size: 14px;
    bottom: 35px;
    left: 40px;
    color: white;
    background-color: green;
    padding: 1px 5px;
    width: 80px;
}

.tag {
    left: 0px;
}


.description {
    text-align: left;
    display: absolute;
}

.marca {
    font-size: 12px;
}

.nome {
    font-size: 13px;
    font-weight: 600;
}

.pricing {
    font-size: 12px;
    display: inline-block;
    position: relative;
}

.price {
    position: absolute;
    color: red;
}

.original-price {
    font-size: 12px;
    text-decoration: line-through; 
    position: absolute;
    left: 40px
    
}

.product:hover {
    cursor: pointer;
}

.product:hover .img2 {
    display: inline-block;
}

